<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 
          https://maven.apache.org/xsd/settings-1.0.0.xsd">

<!-- ========================= -->
    <!--     SERVER CREDENTIALS    -->
    <!-- ========================= -->
    <servers>
        <!-- MuleSoft Enterprise Repository (EE) -->
        <server>
            <id>mulesoft-ee</id>
            <username>ae98c6188ec5438392420c90bf982eb3</username>
            <password>41cDea19AbF34160b034ef9e4053fc4b</password>
        </server>

        <!-- Exchange deployment -->
        <server>
            <id>exchange-server</id>
            <username>ae98c6188ec5438392420c90bf982eb3</username>
            <password>41cDea19AbF34160b034ef9e4053fc4b</password>
        </server>
		<server>
<id>anypoint-exchange-v3</id>
<username>~~~Client~~~</username>
<password>ae98c6188ec5438392420c90bf982eb3~?~41cDea19AbF34160b034ef9e4053fc4b</password>
</server>

    </servers>

    <!-- ========================= -->
    <!--          PROFILES         -->
    <!-- ========================= -->
    <profiles>
        <profile>
            <id>mulesoft-repos</id>

            <repositories>

                <!-- MuleSoft EE Repository -->
                <repository>
                    <id>mulesoft-ee</id>
                    <name>MuleSoft Enterprise Repository</name>
                    <url>https://repository.mulesoft.org/nexus-ee/content/groups/public-ee/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>

                <!-- MuleSoft Public Repo -->
                <repository>
                    <id>mulesoft-public</id>
                    <url>https://repository.mulesoft.org/nexus/content/repositories/public/</url>
                </repository>

                <!-- Maven Central -->
                <repository>
                    <id>central</id>
                    <url>https://repo.maven.apache.org/maven2/</url>
                </repository>

            </repositories>

            <pluginRepositories>

                <!-- MuleSoft Plugin Repo -->
                <pluginRepository>
                    <id>mulesoft-plugins</id>
                    <url>https://repository.mulesoft.org/nexus/content/repositories/public/</url>
                </pluginRepository>

                <!-- Maven Central Plugins -->
                <pluginRepository>
                    <id>central</id>
                    <url>https://repo.maven.apache.org/maven2/</url>
                </pluginRepository>

            </pluginRepositories>

        </profile>
    </profiles>

    <!-- ========================= -->
    <!--     ACTIVATE PROFILE      -->
    <!-- ========================= -->
    <activeProfiles>
        <activeProfile>mulesoft-repos</activeProfile>
    </activeProfiles>

</settings>
